@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Yanone+Kaffeesatz:wght@200..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* Target the whole scrollbar */
::-webkit-scrollbar {
  width: 8px; /* for vertical scrollbars */
  height: 8px; /* for horizontal scrollbars */
}

/* Track (the background) */
::-webkit-scrollbar-track {
  background: #050029;
   
}

::-webkit-scrollbar-thumb {
  background-color: #8400ff;
  /* XROW */
   box-shadow: 0px 0px 30px 30px #8400ff;

}

::-webkit-scrollbar-thumb:hover {
  background-color: #7200dc; 
}



.ES-btn,
.ES-btn::after {
 padding: 16px 20px;
 font-size: 18px;
 background: linear-gradient(45deg, transparent 5%, #8001ff 5%);
 border: 0;
 color: #fff;
 letter-spacing: 3px;
 line-height: 1;
 box-shadow: 6px 0px 0px #00e6f6;
 outline: transparent;
 position: relative;
}

.ES-btn::after {
 --slice-0: inset(50% 50% 50% 50%);
 --slice-1: inset(80% -6px 0 0);
 --slice-2: inset(50% -6px 30% 0);
 --slice-3: inset(10% -6px 85% 0);
 --slice-4: inset(40% -6px 43% 0);
 --slice-5: inset(80% -6px 5% 0);
 content: "HOVER ME";
 display: block;
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background: linear-gradient(45deg, transparent 3%, #00e6f6 3%, #00e6f6 5%, #8001ff 5%);
 text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
 clip-path: var(--slice-0);
}

.ES-btn:hover::after {
 animation: 1s glitch;
 animation-timing-function: steps(2, end);
}

@keyframes glitch {
 0% {
  clip-path: var(--slice-1);
  transform: translate(-20px, -10px);
 }

 10% {
  clip-path: var(--slice-3);
  transform: translate(10px, 10px);
 }

 20% {
  clip-path: var(--slice-1);
  transform: translate(-10px, 10px);
 }

 30% {
  clip-path: var(--slice-3);
  transform: translate(0px, 5px);
 }

 40% {
  clip-path: var(--slice-2);
  transform: translate(-5px, 0px);
 }

 50% {
  clip-path: var(--slice-3);
  transform: translate(5px, 0px);
 }

 60% {
  clip-path: var(--slice-4);
  transform: translate(5px, 10px);
 }

 70% {
  clip-path: var(--slice-2);
  transform: translate(-10px, 10px);
 }

 80% {
  clip-path: var(--slice-5);
  transform: translate(20px, -10px);
 }

 90% {
  clip-path: var(--slice-1);
  transform: translate(-10px, 0px);
 }

 100% {
  clip-path: var(--slice-1);
  transform: translate(0);
 }
}

/* //////////////////// */
.Nav-btn {
  display: flex;
  padding: 4px 23px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  background: #6225e6;
  transition: 1s;
  box-shadow: 6px 6px 0 black;
  transform: skewX(-15deg);
  border: none;
  cursor: pointer;
}

.Nav-btn:focus {
  outline: none;
}

.Nav-btn:hover {
  transition: 0.5s;
  box-shadow: 10px 10px 0 #38b0fb;
}

.Nav-btn .second {
  transition: 0.5s;
  margin-right: 0px;
}

.Nav-btn:hover .second {
  transition: 0.5s;
  margin-right: 45px;
}

 .Nav-btn span {
  transform: skewX(15deg);
}

.Nav-btn .second {
  width: 20px;
  margin-left: 30px;
  position: relative;
  top: 12%;
}

.Nav-btn .one {
  transition: 0.4s;
  transform: translateX(-60%);
}

.Nav-btn .two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.Nav-btn:hover .three {
  animation: color_anim 1s infinite 0.2s;
}

.Nav-btn:hover .one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.Nav-btn:hover .two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

@keyframes color_anim {
  0% {
    fill: white;
  }

  50% {
    fill: #fbc638;
  }

  100% {
    fill: white;
  }

  /* team component*/
/* Remove all transition pauses */
.swiper-wrapper {
  transition-timing-function: linear !important;
}
}
